@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-BoldItalic.eot');
    src: local('Mazda Type Cyrillic Bold Italic'), local('MazdaTypeCyrillic-BoldItalic'),
        url('MazdaTypeCyrillic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MazdaTypeCyrillic-BoldItalic.woff2') format('woff2'),
        url('MazdaTypeCyrillic-BoldItalic.woff') format('woff'),
        url('MazdaTypeCyrillic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-Bold.eot');
    src: local('Mazda Type Cyrillic Bold'), local('MazdaTypeCyrillic-Bold'),
        url('MazdaTypeCyrillic-Bold.eot?#iefix') format('embedded-opentype'),
        url('MazdaTypeCyrillic-Bold.woff2') format('woff2'),
        url('MazdaTypeCyrillic-Bold.woff') format('woff'),
        url('MazdaTypeCyrillic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-Medium.eot');
    src: local('Mazda Type Cyrillic Medium'), local('MazdaTypeCyrillic-Medium'),
        url('MazdaTypeCyrillic-Medium.eot?#iefix') format('embedded-opentype'),
        url('MazdaTypeCyrillic-Medium.woff2') format('woff2'),
        url('MazdaTypeCyrillic-Medium.woff') format('woff'),
        url('MazdaTypeCyrillic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-MediumItalic.eot');
    src: local('Mazda Type Cyrillic Medium Italic'), local('MazdaTypeCyrillic-MediumItalic'),
        url('MazdaTypeCyrillic-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('MazdaTypeCyrillic-MediumItalic.woff2') format('woff2'),
        url('MazdaTypeCyrillic-MediumItalic.woff') format('woff'),
        url('MazdaTypeCyrillic-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-Regular.eot');
    src: local('Mazda Type Cyrillic Regular'), local('MazdaTypeCyrillic-Regular'),
        url('MazdaTypeCyrillic-Regular.eot?#iefix') format('embedded-opentype'),
        url('MazdaTypeCyrillic-Regular.woff2') format('woff2'),
        url('MazdaTypeCyrillic-Regular.woff') format('woff'),
        url('MazdaTypeCyrillic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-Italic.eot');
    src: local('Mazda Type Cyrillic Italic'), local('MazdaTypeCyrillic-Italic'),
        url('MazdaTypeCyrillic-Italic.eot?#iefix') format('embedded-opentype'),
        url('MazdaTypeCyrillic-Italic.woff2') format('woff2'),
        url('MazdaTypeCyrillic-Italic.woff') format('woff'),
        url('MazdaTypeCyrillic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

